<div [@routerTransition]>
    <app-page-header [heading]="'Categoria Egreso'" [icon]="'fa-desktop'"></app-page-header>
    <div [@routerTransition]>
        <div class="row">
            <div class="col col-xl-12 col-lg-12">
                <div class="nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <button type="button" class="btn btn-success"  [routerLink]="['/categresos/crud-categresos']" [routerLinkActive]="['router-link-active']"
                            >Crear CAtegoria Egreso</button>
                        </li>

                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Busqueda" aria-label="Busqueda">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                    </form>
                </div>
                <hr>
                <div class="card mb-3">
                    <div class="card-header">
                        Categorias de Egreso
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Descripcion</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Luz Electrica</td>
                                    <td width="1">
                                        <button type="button" class="btn btn-outline-danger">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td width="1">
                                        <button type="button" class="btn btn-outline-success">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Agua Potable</td>
                                    <td width="1">
                                        <button type="button" class="btn btn-outline-danger">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td width="1">
                                        <button type="button" class="btn btn-outline-success">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Pago Personal</td>
                                    <td width="1">
                                        <button type="button" class="btn btn-outline-danger">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td width="1">
                                        <button type="button" class="btn btn-outline-success">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>