<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span>
                    <i class="fa fa-arrows-h"></i>&nbsp; D/I</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span>
                        <i class="fa fa-user"></i>&nbsp; Luis Rojas</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/micuenta']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <span>
                                    <i class="fa fa-fw fa-user"></i> {{ 'Mi cuenta'}}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <span>
                                    <i class="fa fa-fw fa-power-off"></i> {{ 'Cerrar Sesion'}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
        <div class="dropdown-divider"></div>
        <a routerLink="/inicio" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-home"></i>&nbsp;{{ 'Principal' }}
        </a>
        <a [routerLink]="['/ingresos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Ingresos'}}
        </a>
        <a [routerLink]="['/egresos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Egresos'}}
        </a>
        <a [routerLink]="['/usuarios/crud-usuarios']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user-circle-o"></i>&nbsp;{{ 'Mi cuenta'}}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span>
                    <i class="fa fa-plus"></i>&nbsp; {{ 'Menu'}}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/areas']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-briefcase"></i>&nbsp;{{ 'Areas'}}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/sucursales']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-location-arrow"></i>&nbsp;{{ 'Sucursal'}}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/proveedores']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-users"></i>&nbsp;{{ 'Proveedor'}}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/catingresos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-arrow-up"></i>&nbsp;{{ 'Categoria Ingreso'}}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/categresos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-arrow-down"></i>&nbsp;{{ 'Categoria Egreso'}}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/usuarios']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-user-plus"></i>&nbsp;{{ 'Usuarios'}}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/tipopago']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-credit-card-alt"></i>&nbsp;{{ 'Tipo de Pago'}}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/cuentabancaria']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-credit-card-alt"></i>&nbsp;{{ 'Cuenta Bancaria'}}
                        </a>
                    </li>
                </ul>
            </li>
        </div>
    </div>
</nav>