<div [@routerTransition]>
    <app-page-header [heading]="'Proveedores'" [icon]="'fa-desktop'"></app-page-header>
    <div [@routerTransition]>
      <div class="row">
        <div class="col col-xl-12 col-lg-12">
          <div class="card mb-3">
            <div class="card-header">
             Nuevo Proveedor
            </div>
            <div class="card-header">
              <div class="form-group row">
                <label for="idarea-input" class="col-2 col-form-label">Id</label>
                <div class="col-10">
                  <input class="form-control" type="text" id="idarea-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="descriarea-input" class="col-2 col-form-label">Razon Social</label>
                <div class="col-10">
                  <input class="form-control" type="text" id="descriarea-input">
                </div>
              </div>
              <div class="form-group row">
                  <label for="descriarea-input" class="col-2 col-form-label">RUC</label>
                  <div class="col-10">
                    <input class="form-control" type="text" id="descriarea-input">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="descriarea-input" class="col-2 col-form-label">Direccion</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="descriarea-input">
                    </div>
                  </div>
                  <div class="form-group row">
                      <label for="descriarea-input" class="col-2 col-form-label">Telefono</label>
                      <div class="col-10">
                        <input class="form-control" type="text" id="descriarea-input">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="descriarea-input" class="col-2 col-form-label">Rubro</label>
                        <div class="col-10">
                          <input class="form-control" type="text" id="descriarea-input">
                        </div>
                      </div>
                      <div class="form-group row">
                          <label for="descriarea-input" class="col-2 col-form-label">Correo</label>
                          <div class="col-10">
                            <input class="form-control" type="text" id="descriarea-input">
                          </div>
                        </div>
              <hr>
              <button type="button" class="btn btn-success">Guardar</button>
              <button type="button" class="btn btn-danger">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>