<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/gnsac.png" width="350px" />
            <form role="form" [formGroup]="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" formControlName="username" class="form-control input-underline input-lg" id="" placeholder="Usuario">
                    </div>
                    <div class="form-group">
                        <input type="password" formControlName="password" (keyup.enter)="onLoggedin()" class="form-control input-underline input-lg" id="x" placeholder="Contraseña">
                    </div>
                    <h5 class="text-danger" *ngIf="!estadoCredenciales">Credenciales incorrectas.</h5>
                    <i *ngIf="verificando" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>                    
                </div>
                <a class="btn rounded-btn" (click)="onLoggedin()">Ingresar </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Registrase</a>
            </form>
        </div>
    </div>
</div>