<div [@routerTransition]>
    <app-page-header [heading]="'Perfil de Usuario'" [icon]="'fa-desktop'"></app-page-header>
    <div [@routerTransition]>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="col-md-12" align="center">
                            <img class="img-responsive img-portfolio img-hover" src="assets/images/candado.png">
                        </div>
                        <div class="col-md-12">
                            <p class="text-center">
                                <strong>Luis Rojas</strong>
                            </p>
                            <p class="text-center">
                                <em>ariesluis_12@hotmail.com</em>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <br>
  
                            <form>
                                <div class="form-group">
                                  <label for="exampleFormControlFile1">Example file input</label>
                                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div>
                              </form>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-12" style="border-width: 1px 1px 0px 1px; border-style: solid; border-color: lightgrey;">
                            <h3 style="text-align: center">Mi perfil
                                <p>
                                    <small>Añade información personal para actualizar tu perfil</small>
                                </p>
                            </h3>
                        </div>
                        <form name="modifyProfile" id="profileForm" novalidate>
                            <div class="col-md-12" style="border-width: 1px 1px 0px 1px; border-style: solid; border-color: lightgrey; background: #f1f3f6;">
                                <div class="col-md-12 col-md-offset-2">
                                    <br>
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <input type="email" class="form-control" id="inputEmail4" placeholder="ID">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <input type="text" class="form-control" id="inputPassword4" placeholder="Nombre/Apellido">
                                                </div>
                                                <br>
                                                <div class="form-group col-md-12">
                                                    <input type="text" class="form-control" id="inputPassword4" placeholder="Direccion">
                                                </div>
                                                <br>
                                                <div class="form-group col-md-6">
                                                    <input type="text" class="form-control" id="inputPassword4" placeholder="Telefono">
                                                </div>
                                                <br>
                                                <div class="form-group col-md-6">
                                                    <select class="form-control">
                                                        <option>Masculino</option>
                                                        <option>Femenino</option>
                                                    </select>
                                                </div>
                                                <br>
                                                <div class="form-group col-md-6">
                                                    <input type="date" class="form-control" id="inputPassword4" placeholder="Fecha nacimiento">
                                                </div>
                                                <br>
                                                <div class="form-group col-md-6">
                                                    <input type="date" class="form-control" id="inputPassword4" placeholder="Fecha ingreso">
                                                </div>
                                                <br>
                                                <div class="form-group col-md-6">

                                                    <select class="form-control">
                                                        <option>Administracion</option>
                                                        <option>Secretaria</option>
                                                        <option>Personal</option>
                                                    </select>

                                                </div>
                                                <br>
                                                <div class="form-group col-md-6">

                                                    <select class="form-control">
                                                        <option>Moyobamba</option>
                                                        <option>Tarapoto</option>
                                                        <option>Soritor</option>
                                                        <option>Bagua</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <input type="text" class="form-control" id="inputPassword4" placeholder="Usuario">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <input type="password" class="form-control" id="inputPassword4" placeholder="Contraseña">
                                                </div>
                                            </div>
                                            <div class="btn-group" dropdown>
                                                <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
                                                    Button dropdown
                                                    <span class="caret"></span>
                                                </button>
                                                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                                                    <li role="menuitem">
                                                        <a class="dropdown-item" href="#">Masculino</a>
                                                    </li>
                                                    <li role="menuitem">
                                                        <a class="dropdown-item" href="#">Femenino</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <br>
                                            <p class="help-block"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="border: 1px solid lightgrey; background: #e5eaf2;">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="control-group form-group">

                                    </div>
                                </div>
                                <div class="col-md-12 container allFormButtons">
                                    <div class="form-group">
                                        <button type="button" id="btnCancel" class="btn btn-danger">Cancelar</button>
                                        <button type="submit" id="btnEnviar" class="btn btn-primary">Crear</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                &nbsp;
                <hr>
               
            </div>
        </div>
    </div>
</div>